USE [master]
GO
/****** Object:  Database [GolfPro]    Script Date: 12/7/2020 1:17:56 AM ******/
CREATE DATABASE [GolfPro]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GolfPro_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\GolfPro.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'GolfPro_Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\GolfPro.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GolfPro].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GolfPro]
GO
/****** Object:  Table [dbo].[admin_Setting]    Script Date: 12/7/2020 1:17:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin_Setting](
	[admin_Name] [varchar](50) NULL,
	[admin_Password] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contact_Setting]    Script Date: 12/7/2020 1:17:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contact_Setting](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[first_Name] [varchar](50) NULL,
	[last_Name] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Message] [varchar](50) NULL,
 CONSTRAINT [PK_contact_Setting] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employee_Setting]    Script Date: 12/7/2020 1:17:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee_Setting](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Contact] [varchar](50) NULL,
	[Address] [varchar](50) NULL,
	[Designation] [varchar](50) NULL,
 CONSTRAINT [PK_employee_Setting] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[member_Setting]    Script Date: 12/7/2020 1:17:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[member_Setting](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Contact] [varchar](50) NULL,
	[Address] [varchar](50) NULL,
	[Duration] [varchar](50) NULL,
 CONSTRAINT [PK_member_Setting] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_Setting]    Script Date: 12/7/2020 1:17:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_Setting](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Specification] [varchar](50) NULL,
 CONSTRAINT [PK_service_Setting] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[admin_Setting] ([admin_Name], [admin_Password]) VALUES (N'admin@gmail.com', N'admin')
SET IDENTITY_INSERT [dbo].[contact_Setting] ON 

INSERT [dbo].[contact_Setting] ([id], [first_Name], [last_Name], [Email], [Message]) VALUES (1, N'GURTEJ', N'KAUR', N'MALKEETSOHISHP@GMAIL.COM', N'qwwqwqw')
SET IDENTITY_INSERT [dbo].[contact_Setting] OFF
SET IDENTITY_INSERT [dbo].[member_Setting] ON 

INSERT [dbo].[member_Setting] ([id], [Name], [Email], [Contact], [Address], [Duration]) VALUES (1, N'GURTEJ KAUR', N'MALKEETSOHISHP@GMAIL.COM', N'121212', N'VPO ABDAL TEH & DISTT AMRITSAR', N'2 month')
SET IDENTITY_INSERT [dbo].[member_Setting] OFF
USE [master]
GO
