
@{
    ViewBag.Title = "adminLogin";
}




<!-- breadcrumbs //-->
<section class="w3l-contact-info-main" id="contact">
    <div class="contact-sec	">
        <div class="container">
            <div class="main-titles-head text-center">
                
                <p class="tiltle-para ">Admin Login </p>
                <div class="border-line "></div>
                <div class="border-line2 "></div>
            </div>
            <div class="main-cont-sec header11" data-selector="header11">
                <div class="back-color">
                    <form method="post" class="w3layouts-contact-fm" action="Match_Login">

                        <div class="form-group input-gap ">
                            <input class="form-control" type="text" name="admin_Name" id=""admin_Name"" placeholder="ENter  User Name"
                                   required="">
                        </div>
                        <div class="form-group input-gap ">
                            <input class="form-control" type="password" name="admin_Password" id="admin_Password" placeholder="Enter Password"
                                   required="">
                        </div>
                       
                        <div class="form-group-2">
                            <button type="submit" class="btn action-button mt-3">Sign In</button>
                        </div>
                </div>
                </form>

            </div>
        </div>

