
@{
    ViewBag.Title = "InvalidSetting";
}



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Invalid User Name and Password Try Again</h1>
            <a href="@Url.Action("Index","Home")">Try Again </a>
        </div>

    </div>

</div>