
@{
    ViewBag.Title = "feedback";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Thanks for the Feed Back we will contact you soon</h1>
            <a href="@Url.Action("Index","Home")">main </a>
        </div>

    </div>

</div>