@{
    ViewBag.Title = "Home Page";
}


<section class="w3l-call-to-action_9">
    <div class="call-w3 ">
        <div class="container">
            <div class="grids">
                <div class="grids-content row">
                    <div class="column col-lg-4 col-md-6 ">
                        <a href="about.html"><img src="~/assets/images/1.jpg" alt="" class="img-responsive"></a>
                        <h4><a href="about.html" class=" ">Mayakoba Golf Classic</a></h4>
                        <p class="para ">The long, strange and trying year of 2020 is coming to an end, but not before the PGA Tour squeezes in one last official event in Playa del Carmen, Mexico, before turning the calendar.</p>

                    </div>
                    <div class="column col-lg-4 col-md-6 ">
                        <a href="about.html"><img src="~/assets/images/2.jpg" alt="" class="img-responsive"></a>
                        <h4><a href="about.html" class=" ">Brooks Koepka has harsh words for himself, praise for Dustin Johnson ending 2020</a></h4>
                        <p class="para ">At his first major championship of 2020, Brooks Koepka made headlines by slighting Dustin Johnson’s chances. After his final major of the year, Koepka made sure to do the exact opposite.</p>
                    </div>
                    <div class="column col-lg-4 col-md-6 ">
                        <a href="about.html"><img src="~/assets/images/3.jpg" alt="" class="img-responsive"></a>
                        <h4>
                            <a href="about.html" class=" ">
                                NBC just recruited another caddie to follow in Jim ‘Bones’ McKay’s footsteps
                            </a>
                        </h4>
                        <p class="para ">Longtime PGA Tour caddie John Wood is headed to NBC. The network announced Tuesday that Wood will serve as an on-course reporter for its PGA Tour coverage across NBC and Golf Channel beginning in 2021.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="w3l-teams-15">

    <div class="team-single-main ">
        <div class="container-fluid">
            <div class=" grid grid-column-2 row">
                <div class="column1 image-back col-lg-6 header11" data-selector="header11">
                    <!-- image -->
                </div>
                <div class="column2 image-text col-lg-6">
                    <h3 class="team-head ">Welcome to our Golf Academy</h3>
                    <p class="para  text dis-none">Best of Everything: 55 things you probably didn’t know you needed.</p>
                    <div class="icon-text mb-3 pb-1 ">
                        <div class="about-line ">
                            <h4 class="">A set of head-turning headcovers</h4>
                            <p class="para "> Seamus Golf’s head-cover collection features endless options to choose from. It’s one of the greatest things about the brand. There are unique and attractive prints, custom major championship detailing and even designs celebrating your favorite college sports team. The variety is endless, which also is one of the toughest things about buying a Seamus headcover. It’s nearly impossible to pick just one.</p>
                        </div>
                    </div>
                    <div class="icon-text ">
                        <div class="about-line ">
                            <h4 class=" ">A pair of tech-forward earbuds that fit just right</h4>

                            <p class="para ">The new Bose Quiet-Comfort earbuds will transport you into your own zone during practice sessions. They’re designed with internal and external microphones to cancel out unwanted noise, and they have supersoft nozzles that contour to your ear to create a seal from the world outside.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="w3l-specification-6">
    <div class="specification-layout ">
        <div class="container">
            <div class="specification-effect row ">
                <div class="grids-effect-2 col-lg-4 col-md-6 col-sm-6 ">

                    <div class="back-color ">
                        <span class="fa fa-thumbs-up" aria-hidden="true"></span>
                        <h4><a href="about.html" class="title-head ">Best Trainers</a></h4>

                    </div>
                </div>
                <div class=" grids-effect-2 col-lg-4 col-md-6 col-sm-6 ">
                    <div class="back-color ">
                        <span class="fa fa-diamond" aria-hidden="true"></span>
                        <h4><a href="about.html" class="title-head ">Popular Courses</a></h4>

                    </div>
                </div>
                <div class="grids-effect-2 col-lg-4 col-md-6 col-sm-6 ">
                    <div class="back-color ">
                        <span class="fa fa-flag" aria-hidden="true"></span>
                        <h4><a href="about.html" class="title-head  ">Training Area</a></h4>

                    </div>
                </div>
                <div class="grids-effect-2 col-lg-4 col-md-6 col-sm-6 ">
                    <div class="back-color ">
                        <span class="fa fa-user" aria-hidden="true"></span>
                        <h4><a href="about.html" class="title-head ">Certified Experts</a></h4>

                    </div>
                </div>
                <div class=" grids-effect-2 col-lg-4 col-md-6 col-sm-6 ">
                    <div class="back-color ">
                        <span class="fa fa-superpowers" aria-hidden="true"></span>
                        <h4><a href="about.html" class="title-head ">Best Horses</a></h4>

                    </div>
                </div>
                <div class="grids-effect-2 col-lg-4 col-md-6 col-sm-6 ">
                    <div class="back-color">
                        <span class="fa fa-handshake-o" aria-hidden="true"></span>
                        <h4><a href="about.html" class="title-head"> Supports</a></h4>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
